@font-face {
  font-family: klavika;
  src: url("./assets/fonts/klavika-bold.otf");
}

@font-face {
  font-family: SFPro;
  src: url("./assets/fonts/SFProDisplay-Regular.ttf");
}
#root {
  width: 100vw;
  margin: 0;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.error-msg {
  color: red;
  font-size: 12px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7.8vh;
  border-bottom: 1px solid #dadde1;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-logo {
  height: 40px;
}
.navbar > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-search-section {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f0f2f5;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.navbar-search-input {
  padding: 7px 8px 9px;
  height: 40px;
  background-color: #f0f2f5;
  font-size: 0.9375rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navbar-search-icon {
  padding-left: 10px;
}

.material-symbols-outlined.navbar-middle-tab {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.navbar-icon-cont {
  height: 50px;
  width: 4.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-profile-pic {
  height: 40px;
  border-radius: 100%;
}

.navbar-center {
  margin-right: 12vw;
}
.search-bar-results {
  position: absolute;
  top: 6.3vh;
  background-color: #fff;
  left: 6.3vw;
}

.search-bar-result-item {
  list-style-type: none;
}
.main-body {
  width: 100%;
}
.friends-tab {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 7.8vh);
}

.friends-tab > div {
  width: 35vw;
}

.friends-tab-friend {
  display: flex;
  align-items: center;
  gap: 10px;
}
.friends-tab-requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage {
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.homepage-main {
  display: flex;
  gap: 50px;
}
.homepage-people-section {
  margin-top: 16vh;
  position: sticky;
  height: 100vh;
  top: 0;
  padding-top: 5px;
}
.homepage-create-post {
  background-color: #fff;
  height: 5.6vh;
  display: flex;
  align-items: center;
  width: 30vw;
  margin-top: 3.49vh;
  padding: 30px 10px;
  font-size: 1.0625rem;
  border-radius: 8px;
}

.homepage-create-post-input {
  width: 100%;
  padding: 8px 12px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #f0f2f5;
}

.homepage-posts-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
  
}

.post {
  display: flex;
  flex-direction: column;
  width: 31vw;
  background-color: #fff;
  /*padding: 20px 20px 10px 20px; */
}
.delete-post-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post-header {
  display: flex;
  gap: 10px;
  padding: 20px 20px 10px 20px;
}

.post-text {
  padding: 10px;
  text-align: left;
}
.post-header-name-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.post-header-username,
.post-header-timestamp {
  text-align: left;
}

.like-comment-count-section,
.like-comment-section {
  display: flex;
  justify-content: space-between;
}

.like-comment-section > div {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.like-comment-count-section {
  border-top: .5px solid #CED0D4;
  border-bottom: .5px solid #CED0D4;
  padding: 5px 10px 5px 10px;
}
.like-comment-section {
  align-items: center;
  
  padding: 5px 5px 5px 5px
}

.like-section,
.comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
}
.like-section:hover,
.comment-section:hover {
  background-color: rgba(0, 0, 0, .1);

}
.comment {
  display: flex;
  gap: 5px;
}
.full-post {
  height: 84vh;
}
.full-post-header {
  display: flex;
  align-items: center;
  height: 8.4vh;
  border-bottom: 1px solid #dadde1;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.dialog-close {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.full-post-header-title {
  flex: 2;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.full-post-comments {
  height: 100%;
  overflow-y: scroll;
}
.commenter-pic {
  height: 32px;
  border-radius: 100%;
}

.full-post-add-comment-section {
  height: 5vh;
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: white;
}

.full-post-comment-input {
  width: 100%;
}

.profile {
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
}

.profile-cont {
  width: 80vw;
}
.profile-cover {
  height: 57vh;
}

.profile-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-header-username {
  font-size: 2rem;
  margin-left: 50px;
}

.profile-header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-pic {
  height: 168px;
  border-radius: 100%;
  position: relative;
  left: 60px;
  bottom: 100px;
}

.profile-intro-item {
  display: flex;
  gap: 5px;
}

.profile-bottom {
  display: flex;
  justify-content: center;
}

.create-post-form {
  width: 100%;
  display: flex;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #f0f2f5;
}

.create-post-form-btn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form {
  display: flex;
  gap: 5px;
  width: 100%;
}

.error-page {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  height: 100vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(1, 1, 1, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 28px;
  border-radius: 8px;
  background-color: white;
}
.login-btn {
  border-radius: 6px;
  background-color: #1877f2;
  color: white;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0 16px;
  line-height: 48px;
}

.login-input {
  border-radius: 6px;
  font-size: 17px;
  width: 330px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
}
.login-signup-btn, .signup-btn {
  width: 75%;
  background-color: #42B72A;
  color: white;
}
.login-left {
  width: 500px;
}

.login-left-header {
  font-family: klavika, sans-serif;
  color: #1877f2;
  font-size: 4rem;
  text-align: left;
}

.login-left-bottom {
  font-family: SFPro, Helvetica, Arial, sans-serif;
  font-size: 28px;
  text-align: left;
}

.sign-up {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.sign-up-cont {
  width: 430px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dadde1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.sign-up-header {
  text-align: left;
  padding: 10px;
}
.sign-up-header-top {
  font-size: 32px;
  font-weight: 800;
  font-family: Helvetica, Arial, sans-serif;
}

.sign-up-header-bottom {
  color: #606770;
  font-size: 15px;
}
.signup-form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.signup-btn-cont {
  margin-top: 10px;
}

.signup-btn {
  width: 60%;
  font-weight: bolder;
}

.signup-input {
  border: 1px solid #CCD0D5;
  color: #1C1E21;
  font-family: SFPro, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background-color: #f0f2f5;
  border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width:600px) {
  .login {
    flex-direction: column;
  }

  .login-left {
    width: 100vw;
    
  }

  .login-input {
    width: 85vw;
  }

  .login-form {
    width: 95vw;
    padding: 15px 15px 15px;
  }

  .login-left-header {
    text-align: center;
  }

  .login-left-bottom {
    display: none;
  }
  .sign-up {
    height: 100%;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
